.TextInput {
  height: 33px;
  padding: 0 12px;
  border-radius: 5px;
  background-color: $gainsvilleFurnitureLight;
  color: $swolePatrolDark;
  font-size: 16px;

  @include bp(mobile) {
    height: 31px;
    padding: 0 10px;
    font-size: 15px;
  }

  @include bp(smallMobile) {
    height: 29px;
    padding: 0 8px;
    font-size: 14px;
  }
  
  &::placeholder {
    color: $gainsvilleFurniture;
  }
}
