.GamePage {
  h2 {
    text-align: center;
  }
  
  .PlayerRow {
    margin: 0.5rem 0;
  }

  .label-btn-container {
    display: flex;
    justify-content: right;
    align-items: center;

    .saving-stats {
      margin-left: 0.4rem;
      opacity: 0.8;
      font-size: $tiny;
      font-style: italic;
      font-weight: lighter;
    }

    .stats-are-saved {
      margin-left: 0.4rem;
      opacity: 0.4;
      font-size: $tiny;
      font-style: italic;
      font-weight: lighter;
    }

    label {
      margin-right: 0.25rem;
      flex-grow: 1;
      text-align: right;
      font-size: $tiny;
      font-weight: lighter;
    }

    .GeneralBtn {
      padding: 0.2rem 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba($color: #000000, $alpha: 0);

      &:active:enabled {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;

        .fa-copy {
          color: $gainsvilleFurnitureDark;
        }
      }

      .fa-copy {
        text-align: center;
        font-size: $small;
      }
    }
  }
}
