.GeneralBtn {
  padding: 0.5rem 1.1rem;
  border: 0;
  border-radius: 5px;
  background-color: $gainsvilleFurnitureDark;

  span {
    font-family: $headings;
    font-size: $medium;
    color: $gainsvilleFurniture;
  }
}
