.PlusRepBtn {
  width: 2rem;
  height: 2rem;
  position: relative;
  padding: 0;
  border: 0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $xxLarge;
  background: $broScienceDark;

  &:active {
    .fa-plus {
      transform: scale(0.9);
    }
  }

  &:disabled {
    background: $broScience;
  }
}
