.PlayerCard {
  width: 6.25rem;
  background: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $general;

  @include bp(mobile) {
    width: 5.75rem;
  }

  @include bp(smallMobile) {
    width: 5rem;
  }

  h3 {
    text-align: center;
    color: $gainsvilleFurnitureDark;

    @include bp(mobile) {
      transform: rotateZ(-45deg);
    }
  }
}
