h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: $headings;
  color: $gainsvilleFurniture;
}

h1 {
  font-size: $monster;
}

h2 {
  font-size: $xxxLarge;
}

h3 {
  font-size: $xLarge;
}

p,
label,
li,
span {
  margin: 0;
  font-family: $general;
  font-size: $xxSmall;
  color: $gainsvilleFurniture;
}

a {
  text-decoration: none;
  color: $gainsvilleFurniture;
}

a:visited {
  text-decoration: none;
  color: $gainsvilleFurniture;
}
