@mixin bp($point) {
  @if $point == smallScreen {
    @media (max-width: 1125px) { @content; }
  } @else if $point == tablet {
    @media (max-width: 768px) { @content; }
  } @else if $point == mobile {
    @media (max-width: 520px) { @content; }
  } @else if $point == smallMobile {
    @media (max-width: 374px) { @content; }
  }
}

// partials
@import '../styles/colors';
@import '../styles/fonts';

.App {
  width: 1125px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;

  @include bp(smallScreen) {
    width: 93%;
  }

  // categories
  @import '../styles/buttons';
  @import '../styles/inputs';
  @import '../styles/texts';

  // components
  @import '../components/Banner/Banner';
  @import '../components/BicepParticle/BicepParticle';
  @import '../components/Footer/Footer';
  @import '../components/GeneralBtn/GeneralBtn';
  @import '../components/NewGameForm/NewGameForm';
  @import '../components/ExerciseCounter/ExerciseCounter';
  @import '../components/PlayerCard/PlayerCard';
  @import '../components/PlayerRow/PlayerRow';
  @import '../components/PlusRepBtn/PlusRepBtn';
  @import '../components/ProgressBar/ProgressBar';
  @import '../components/ProgressCount/ProgressCount';
  
  // components > forms
  @import '../components/forms/DecrementBtn/DecrementBtn';
  @import '../components/forms/FormErrorMsg/FormErrorMsg';
  @import '../components/forms/IncrementBtn/IncrementBtn';
  @import '../components/forms/NumberInput/NumberInput';
  @import '../components/forms/SubmitBtn/SubmitBtn';
  @import '../components/forms/TextInput/TextInput';

  // pages
  @import '../pages/GamePage/GamePage';
  @import '../pages/MainPage/MainPage';

  // misc globals
  [class*="Page"] {
    padding: 40px;
    flex-grow: 2;
  }
}
