@mixin bp($point) {
  @if $point == smallScreen {
    @media (max-width: 1200px) { @content; }
  } @else if $point == tablet {
    @media (max-width: 768px) { @content; }
  } @else if $point == mobile {
    @media (max-width: 520px) { @content; }
  } @else if $point == smallMobile {
    @media (max-width: 375px) { @content; }
  }
}

@import './styles/colors';

html,
body,
#root {
  margin: 0;
  height: 100vh;
  background-color: $swolePatrol;
}

html {
  font-size: 24px;

  @include bp(smallScreen) {
    font-size: calc(12px + 1vw);
  }
};
