.Banner {
  padding: 40px;
  background-color: $swolePatrol;

  h1 {
    margin: 20px 0;
  }

  .h1-button-container {
    display: flex;

    h1 {
      flex-grow: 1;
    }

    .GeneralBtn {
      margin: 20px 0;
    }
  }
}
