.Banner {
  padding: 40px;
  background-color: $swolePatrol;

  .h1-button-container {
    display: flex;
    align-items: center;

    h1 {
      margin: 20px 0;
      flex-grow: 1;
    }

    .GeneralBtn {
      margin: 20px 0;
    }
  }

  p {
    width: 35em;
    margin: 40px auto;
  }
}
